apiVersion : apps/v1
kind : Deployment
metadata : 
  name : deployment-1
  labels :
    app : welcome-jenkins
spec :
  replicas : 2
  selector : 
    matchLabels :
      app : welcome-jenkins
  template :
    metadata:
      labels:
        app : welcome-jenkins
    spec:
      containers:
      - name : goodbye-pod
        image : bhavani005/springboot-demo
        ports :
        - containerPort : 8088
#      imagePullSecrets :
 #     - name : demo-secret
        
#         env :
#         - name : DOCKERHUB_USERNAME
#           valueFrom :
#             secretKeyRef :
#               name : demo-secret 
#               key : username
#         - name : DOCKERHUB_PASSWORD
#           valueFrom :
#             secretKeyRef :
#               name : demo-secret 
#               key : password
---
apiVersion : v1
kind : Service
metadata:
  name : springboot-service
spec:
  selector :
    app : welcome-jenkins
  ports :
    - protocol : TCP 
      port : 8081
      targetPort : 8088
      nodePort : 30101
  type : NodePort
  
